
html, body {
    height: 100vh;
    background-color: #ebebeb;
    font-family: 'Fredericka the Great', cursive;
}
 .snap{
     height: 100vh;
     overflow-y: scroll;
     scroll-snap-type: y mandatory;
     scroll-behavior: smooth;
     
 }

.hani{
    scroll-snap-align: start;
    
}
.portfolio{
    background-color: slategray;
    height:100vh;
}


.anchor{
    position:fixed;
    top:0px;
    left: 0px;
    background-color: #4C516D;
    opacity: 0.95;
    border-style: solid;
    border-width: 1px;
    height: 100vh;
    
}

.menu{

    height: 33.33%;
    border-bottom: solid,1px,black;
    border-bottom: 2px solid white;
    font-size: 9vw;
    text-align: center;
    color: white;
    margin-bottom: 0px;
}

.menu a{
   background-color:inherit;
   color: white;
   
}
#camera{
    background-color: rgb(70, 152, 200);
}

.skills{
    background-color: #ebebeb;
    height: 100vh;
    font-family: 'Fredericka the Great', cursive;

}

.projects{
    background-color: #ebebeb;
    height: 100vh;
    font-family: 'Fredericka the Great', cursive;

}



.menutitle{
    font-size: 31px;
    position: relative;
    top: -41px;
    font-family: 'Fredericka the Great', cursive;
    color: bisque;
}


.picture{
    height: 100vh;
    background-image: url("../images/profile2.jpg");
    background-size: cover;
    background-position-x: center;
    opacity: 1;
    transition: 1s ease-in;
}
.about{
    height: 100vh;
    background-color: #4C516D;
    background-size: 100%;
    opacity: 1;
    overflow-y: hidden;
    text-align: center;
    background-image: url("../images/gray.png");
}

.next{
    font-size: 50px;
    opacity: 0.7;
    position: relative;
    top:40%;
    left:90%;
    color: white;
}

.previous{
    font-size: 50px;
    opacity: 0.7;
    position: relative;
    top:40%;
    left:-11.5%;
    color: white;
}
.picture i:hover,.about i:hover {
opacity: 1;
cursor: pointer;
}
.aboutpar{
    margin-top: 0px;
    text-align: justify;
    padding: 20px;
}
.textdis{
    font-family: 'Fredericka the Great', cursive;

font-size: 3vw;
color:white ;
animation: Typing 10s linear;
overflow: hidden;
}
.aboutcont{
    height: 73%;    
    overflow: hidden;
    border-top: solid 5px rgba(255,255,255,.07);
    border-bottom:solid 5px rgba(255,255,255,.07) ;
    border-radius: 10px;
}

  
  @keyframes Typing {
    0% {
      height: 0;
    }
    100% {
      height: 691px;
    }
  }
  
  .up, .down{
    content: "\f139";
    font-size: 50px;
    position: relative;
    color: white;
    
    opacity: 0.8;
}

.skillcont{
    margin-bottom: 0px;
    height: 100px;
}
.skillmenu{
    background-color:transparent;
    height:60px ;
}

.skilltype{
    
    height: inherit;
    background-color: #d8ecfc;
    margin-right: 15px;
    border-radius: 15px;
    margin-left: 20px;
    font-family: 'Cabin Sketch', cursive;
}

.skilltypecont{
    height: inherit;
    
}

.skillenum{
height: 329px;
width: 400px;
overflow-x:hidden;
overflow-y: hidden;

margin: auto;
width: 750px;
background-color: #d3e1eced;
border-radius: 14px;
}

.skilldiv{
    
    display: inline-block;
    width: 750px;
    height:100%;

   
}

.skillwrap{
    position: relative;
    left: 0px;
    width:fit-content ;
    height:inherit;
    white-space: nowrap;
   transition:ease-in-out 1s; 
    
    
}
.node{
    padding: 0px;
    background-image: url("../images/node.png");
    transition: ease-in-out 0.2s;
    background-size: 100%;
}

.node:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.code{
    background-color: rgb(70, 152, 200);
    color: white;
}
.skilltype:hover{
    cursor: pointer;
}

.cvscroll{
    position: relative;
    top: 0px;
    left: 0px;
    transition: ease-in-out 0.8s;
    overflow: hidden;
    padding: 0px;

}
.cv{
    margin-left: 0px;
    margin-right: 0px;
    height: 100vh;
    position: relative;
    top: 0px;
    left: 0px;
    background-color: #ebebeb;
    z-index: 555;
    
    

}

.cv:hover{
   
    cursor: pointer;
    

}

.overlay{
    position: fixed;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: darkgray;
    opacity: 0.5;
    visibility: hidden;
    z-index: 10;
}
.srsly{
    position: fixed;
    top: 5%;
    left: 10%;
    height: 90%;
    width: 80%;
    background-color: white;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: linear 0.5s;
}

.learnmore{
    position: fixed;
    top: 5%;
    left: 10%;
    height: 90%;
    width: 80%;
    background-color: white;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: linear 0.5s;
}

.close{
    position: absolute;
    right: 5px;
    top: 2px;
    font-size: 50px;
    color: darkslategray;

}
.close:hover{
    cursor: pointer;
}
@media screen and (max-width: 768px){
    .skills{
        height: 365px;
    }
    .projects{
        background-color: #9b9ca7;
    }
    .cvheader{
        color: white;
        border-radius: 10px;
        height: 15%;
        background-color: rgb(70, 152, 200);
        
    }
    .textdis{
        font-size: 4.2vw;

    }
    .snap{
        scroll-snap-type: none;
        scroll-behavior:auto
    }
}
@media screen and (min-width: 769px){
    .cvheader{
        color: white;
        border-radius: 10px;
        height: 25%;
        background-color: rgb(70, 152, 200);
        
    }
    .skills{
        background-image: url("../images/s.png");
        height: 100vh;
    }
}


.cvheader:hover{
    
    background-color: rgb(187, 230, 255);
    border-style: inset;
    
}

.technical{
    position: relative;
    left: 50%;
    color: darkgray;
    animation:blinkingTextdown 1s infinite;



}
.gobackcv{
    
    color: white;
    animation:blinkingTextup 1s infinite;
}
.gobackcv:hover{
cursor: pointer;
}

.projectinstance{
    height: 100%;
    
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: 81.8vw;

}

.frame{
    height: inherit;
    width: 851px;
}

.proid{
    height: 25vh;
}


/* width */
::-webkit-scrollbar {
    width: 17px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color:slategray;
}
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .thumb{
      cursor: pointer;
      opacity: 0.5;
  }
  .thumb1{
      opacity: 1;
      border-style: ridge;
  }

  .projectwrap{
      position: relative;
      right: 0px;
     
      height: inherit;
      width: fit-content;
      transition:ease-in-out 1s; 
  }
  .prevthumb{
      opacity: 0.3;
      cursor: pointer;
  }
  .nextthumb{
   cursor: pointer;
  }


@keyframes blinkingTextup{
    0%{     color: white;    }
   
    100%{    color:transparent;  }
    
}
@keyframes blinkingTextdown{
    0%{     color: darkgray;    }
   
    100%{    color:transparent;  }
    
}


.contact:hover{
text-decoration: underline;
}